name: Static Analysis

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy aiohttp packaging
      - name: Ruff Check
        uses: astral-sh/ruff-action@v3
        with:
          args: "check ."
      - name: Ruff Format
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check ."
      - name: Mypy Check
        run: |
          mypy aioresponses
